<div class="card border-danger">
  <div class="card-header table-primary">
    <span style="font-size: 30px; font-weight: bold;"><i class="fa fa-inbox"></i> Products</span>
  </div>
  <div class="card-body">
    <div class="my-2 mb-3 mr-4 ml-4">
      <div class="row">
        <div class="col-4">
          <form class="form-inline">
            <div class="form-group row">
              <div class="col-sm-10">
                <input type="text" maxlength="100" autocomplete="off" class="form-control" name="search"
                       placeholder="Enter Search ?">
              </div>
              <button class="btn btn-warning col-sm-2"><i class="fa fa-search"></i></button>
            </div>
          </form>
        </div>
        <div class="col-4">
          <div class="btn-group" dropdown>
            <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
              <li role="menuitem"><a class="dropdown-item" href="#">Action</a></li>
              <li role="menuitem"><a class="dropdown-item" href="#">Another action</a></li>
              <li role="menuitem"><a class="dropdown-item" href="#">Something else here</a></li>
              <li class="divider dropdown-divider"></li>
              <li role="menuitem"><a class="dropdown-item" href="#">Separated link</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-4">
          <button class="btn btn-warning float-right" (click)="showAdd()"><i class="fa fa-plus-circle"></i> Add
            New</button>
        </div>

      </div>

      <table class="table table-hover table-striped table-bordered">
        <thead class="table-primary text-center">
        <tr>
          <th>No.</th>
          <th>Code</th>
          <th>Type</th>
          <th>Name</th>
          <th>Image</th>
          <th>Price</th>
          <th>#</th>
        </tr>
        </thead>
        <tbody>
        <tr class="text-center"
            *ngFor="let row of products | paginate: { itemsPerPage: itemsPerPage, currentPage: page }; let i = index">
          <th>{{(itemsPerPage * (page - 1)) + (i+1)}}</th>
          <td>{{row.proCode}}</td>
          <td>{{row.productType.name}}</td>
          <td>{{row.name}}</td>
          <td><img style="width: 200px;" src="{{row.image}}"></td>
          <td>{{row.price}}</td>
          <td>
            <a href="" class="text-success" title="Repair" (click)="showEdit($event, row.id)"><i class="fa fa-edit"
                                                                                                 style="font-size: 15px;"></i></a>
            <a href="#" class="text-danger" (click)="delete($event, row.id)"><i class="fa fa-trash"
                                                                                style="font-size: 15px;"></i></a>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <pagination-controls (pageChange)="page = $event"></pagination-controls>
  </div>

  <div bsModal #productModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
       aria-labelledby="dialog-child-name">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h4 id="dialog-child-name" class="modal-title pull-left"><i class="fa fa-google-plus-circle"></i> PRODUCT</h4>
          <button type="button" class="close pull-right" aria-label="Close" (click)="closeModal()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form action="" #productForm="ngForm">

            <div class="col">
              <div class="form-group row" [class.has-error]="productCode.invalid && productCode.touched">
                <label for="proCode" class="col-sm-3 col-form-label control-label">Code: </label>
                <div class="col-sm-9">
                  <input type="text" maxlength="20" #productCode="ngModel" required autocomplete="off"
                         class="form-control" name="proCode" [(ngModel)]="product.proCode" placeholder="P-number">
                  <span class="help-block text-danger" *ngIf="productCode.invalid && productCode.touched"> (Code is
                    required)</span>
                </div>
              </div>

              <div class="form-group row" [class.has-error]="productName.invalid && productName.touched">
                <label for="name" class="col-sm-3 col-form-label control-label">Name: </label>
                <div class="col-sm-9">
                  <input type="text" #productName="ngModel" required maxlength="20" autocomplete="off"
                         class="form-control" name="name" [(ngModel)]="product.name" placeholder="name">
                  <span class="help-block text-danger" *ngIf="productName.invalid && productName.touched"> (Name is
                    required)</span>
                </div>
              </div>
              <!-- Hinh -->
              <div class="form-group row">
                <label for="name" class="col-sm-3 col-form-label">Image: </label>
                <img [src]="imgUrl" alt="" style="width: 100px; height: 100px;"/>
                <div class="col-sm-9">
                  <input type="file" #fileUpload id="fileUpload" name="fileUpload" accept="image/*"
                         class="form-control-file" placeholder="Image" (change)="reviewPhoto(fileUpload)" required>
                </div>
              </div>

              <div class="form-group row" [class.has-error]="productType.invalid && productType.touched">
                <label for="productType" class="col-sm-3 col-form-label control-label">Product type: </label>
                <div class="col-sm-9">
                  <select class="form-control" id="productType" required #productType="ngModel"  name="productType"
                          [(ngModel)]="product.productType.id" >
                    <option *ngFor="let productType of productTypes;"  selected="selected" [value]="productType.id">{{productType.name}}
                    </option>
                  </select>
                  <span class="help-block text-danger" *ngIf="productType.invalid && productType.touched"> (Type is
                    required)</span>
                </div>
              </div>

              <div class="form-group row" [class.has-error]="productPrice.invalid && productPrice.touched">
                <label for="price" class="col-sm-3 col-form-label control-label">Price: </label>
                <div class="col-sm-9">
                  <input type="text" maxlength="20" #productPrice="ngModel" required autocomplete="off"
                         class="form-control" name="price" [(ngModel)]="product.price" placeholder="price">
                  <span class="help-block text-danger" *ngIf="productPrice.invalid && productPrice.touched"> (Price is
                    required)</span>
                </div>
              </div>

            </div>
            <div class="float-right">
              <button type="submit" class="btn btn-success" [disabled]="productForm.invalid" (click)="save()">Save
                Changes</button>
              <button type="submit" class="btn btn-secondary" (click)="closeModal()">Close </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
