<div class="card border-danger">
  <div class="card-header table-primary">
    <span style="font-size: 30px; font-weight: bold;"><i class="fa fa-inbox"></i> Services</span>
  </div>
  <div class="card-body">
    <div class="my-2 mb-3 mr-4 ml-4">
      <div class="row">
        <div class="col-6">
          <form class="form-inline">
            <div class="form-group row">
              <div class="col-sm-10">
                <input type="text" maxlength="100" autocomplete="off" class="form-control" name="search"
                  placeholder="Enter Search ?">
              </div>
              <button class="btn btn-warning col-sm-2"><i class="fa fa-search"></i></button>
            </div>
          </form>
        </div>
        <div class="col-6">
          <button class="btn btn-warning float-right" (click)="showAdd()"><i class="fa fa-plus-circle"></i> Add
            New</button>
        </div>
      </div>

    </div>
    <table class="table table-hover table-striped table-bordered">
      <thead class="table-primary text-center">
        <tr>
          <th>No.</th>
          <th>Code</th>
          <th>Type</th>
          <th>Name</th>
          <th>Image</th>
          <th>Price</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr class="text-center"
          *ngFor="let row of services| paginate: { itemsPerPage: itemsPerPage, currentPage: page }; let i = index">
          <th>{{(itemsPerPage * (page - 1)) + (i+1)}}</th>
          <td>{{row.serCode}}</td>
          <td>{{row.serviceType.name}}</td>
          <td>{{row.name}}</td>
          <td><img style="width: 200px;" src="{{row.image}}"></td>
          <td>{{row.price}}</td>
          <td>
            <a href="" class="text-success" title="Repair" (click)="showEdit($event, row.id)"><i class="fa fa-edit"
                style="font-size: 15px;"></i></a>
            <a href="" class="text-danger" title="Delete" (click)="delete($event, row.id)"><i class="fa fa-trash"
                style="font-size: 15px;"></i></a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <pagination-controls (pageChange)="page = $event"></pagination-controls>
</div>

<div bsModal #servicesModel="bs-modal" class="modal fade" tabindex="-1" role="dialog"
  aria-labelledby="dialog-child-name">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-child-name" class="modal-title pull-left"><i class="fa fa-google-plus-circle"></i> SERVICE</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="closeModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="">
          <div class="col">
            <div class="form-group row">
              <label for="serCode" class="col-sm-3 col-form-label">Code: </label>
              <div class="col-sm-9">
                <input type="text" maxlength="20" autocomplete="off" class="form-control" name="serCode"
                  [(ngModel)]="service.serCode" placeholder="S-number">
              </div>
            </div>

            <div class="form-group row">
              <label for="name" class="col-sm-3 col-form-label">Name: </label>
              <div class="col-sm-9">
                <input type="text" maxlength="20" autocomplete="off" class="form-control" name="name"
                  [(ngModel)]="service.name" placeholder="name">
              </div>
            </div>

            <div class="form-group row">
              <label for="name" class="col-sm-3 col-form-label">Image: </label>
              <img [src]="imgUrl" alt="" />
              <div class="col-sm-9">
                <input type="file" #fileUpload id="fileUpload" name="fileUpload" accept="image/*"
                  class="form-control-file" placeholder="Image" (change)="reviewPhoto(fileUpload)" required>
              </div>
            </div>

            <div class="form-group row">
              <label for="serviceType" class="col-sm-3 col-form-label">Service type: </label>
              <div class="col-sm-9">
                <select class="form-control" name="serviceType" [(ngModel)]="service.serviceType.id">
                  <option *ngFor="let serviceType of serviceTypes;" [value]="serviceType.id">{{serviceType.name}}
                  </option>
                </select>
              </div>
            </div>

            <div class="form-group row">
              <label for="price" class="col-sm-3 col-form-label">Price: </label>
              <div class="col-sm-9">
                <input type="text" maxlength="20" autocomplete="off" class="form-control" name="price"
                  [(ngModel)]="service.price" placeholder="price">
              </div>
            </div>


          </div>
          <div class="float-right">
            <button type="submit" class="btn btn-success" (click)="save()">Save Changes</button>
            <button type="submit" class="btn btn-secondary" (click)="closeModal()">Close </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>